@using DnDWorldMapEditor.ViewModels
@model DnDWorldMapEditor.ViewModels.GridSpaceDetailsViewModel
@{
    GridSpaceGeneralDetailsViewModel generalDetails = new GridSpaceGeneralDetailsViewModel()
    {
        GridSpace = Model.GridSpace,
        GridCharacterCount = Model.GridCharacters.Count(),
        GridEncounterCount = Model.GridEncounters.Count()
    };
}


<div class="modal-header text-black">
    <h5 class="modal-title">Grid Space Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<ul class="nav nav-tabs" id="tabContent">
    <li class="nav-item"><a aria-selected="True" class="nav-link active" href="#details"
                            data-bs-toggle="tab">General</a></li>
    <li class="nav-item"><a class="nav-link" href="#history" data-bs-toggle="tab">History</a></li>
    <li class="nav-item"><a class="nav-link" href="#notes" data-bs-toggle="tab">Notes</a></li>
    <li class="nav-item"><a class="nav-link" href="#encounters" data-bs-toggle="tab">Encounters</a></li>
    <li class="nav-item"><a class="nav-link" href="#characters" data-bs-toggle="tab">Characters</a></li>
</ul>



<div class="modal-body grid-details-modal text-black">
    <div class="tab-content">
        <div class="tab-pane active show" id="details">
            <h6 class="">General Overview</h6>
            @{
                await Html.RenderPartialAsync("GridSpaceGeneralDetails", generalDetails);
            }
        </div>

        <div class="tab-pane" id="history">
            <div class="card" id="GridSpaceHistoryCard">
                <div class="card-body">
                    <h5 class="card-title">History
                        <button data-id="@Model.GridSpace.Id" id="GridSpaceHistoryEditBtn" class="rounded float-end">
                            <img
                                src="~/images/Icons/pencil-fill.svg" width="16" height="16"
                                fill="currentColor" class="bi bi-pencil-fill"/></button>
                    </h5>
                    <div id="HistoryDisplayInfo" class="card-text">@Model.GridSpace.History</div>
                </div>


            </div>

        </div>


        <div class="tab-pane" id="notes">
            <div class="card w-90" id="GridSpaceNotesCard">
                <div class="card-body">
                    <h5 class="card-title">Notes
                        <button data-id="@Model.GridSpace.Id" id="GridSpaceNotesEditBtn" class="rounded float-end">
                            <img
                                src="~/images/Icons/pencil-fill.svg" width="16" height="16"
                                fill="currentColor" class="bi bi-pencil-fill"/></button>
                    </h5>
                    <div id="NotesDisplayInfo" class="card-text">@Model.GridSpace.Notes</div>
                </div>


            </div>
        </div>

        <div class="tab-pane" id="encounters">
            <div class="container">
                <div class="  m-2 row row-cols-1  g-3  " id="GridEncountersDisplay">
                    @foreach (var encounter in @Model.GridEncounters)
                    {
                        await Html.RenderPartialAsync("GridEncounterDetails", encounter);
                    }
                </div>
                <br/>
                <div class="p-2 m-3 border border-black rounded">
                    <form class="">
                        <label for="@Model.Encounters" class="form-label">Add Encounter to Grid</label>
                        <div class="d-flex justify-content-between">
                            <select class="form-control d-inline-flex float-start" id="encounterSelectionElement"
                                    required="required">
                                <option value="">Select Encounter</option>
                                @foreach (var encounter in @Model.Encounters)
                                {
                                    <option value="@encounter.Id">@encounter.Name</option>
                                }

                            </select>
                            <button id="AddEncounterBtn" class="m-2 btn btn-success">Add
                                Encounter
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="characters">
            <div class="container">
                <div class=" m-2 row row-cols-1 g-3 " id="GridCharactersDisplay">
                    @foreach (var character in @Model.GridCharacters)
                    {
                        await Html.RenderPartialAsync("GridCharacterDetails", character);
                    }
                </div>
                <div class="p-2 m-3 border border-black rounded">
                    <form class="">
                        <label for="@Model.Characters" class="form-label">Add Character to Grid</label>
                        <div class="d-flex justify-content-between">
                            <select class="form-control d-inline-flex float-start" id="characterSelectionElement"
                                    required="required">
                                <option value="">Select Character</option>
                                @foreach (var character in @Model.Characters)
                                {
                                    <option value="@character.Id">@character.Name</option>
                                }

                            </select>
                            <button id="AddCharacterBtn" class="m-2 btn btn-success">Add Character
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

<div id="gridSpaceNotesEditModal" class="modal fade bg-dark shadow-lg" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content" id="gridSpaceNotesEditModalContent">

        </div>
    </div>
</div>

<div id="gridSpaceHistoryEditModal" class="modal fade bg-dark shadow-lg" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content" id="gridSpaceHistoryEditModalContent">

        </div>
    </div>
</div>


<script>
    document.getElementById("GridSpaceNotesEditBtn").addEventListener("click", loadGridSpaceNotesEditForm);
    document.getElementById("GridSpaceHistoryEditBtn").addEventListener("click", loadGridSpaceHistoryEditForm);
    document.getElementById("AddEncounterBtn").addEventListener("click", (e) => {
        e.preventDefault();
        AddEncounter(@Model.GridSpace.Id)
    })
    document.getElementById("AddCharacterBtn").addEventListener("click", (e) => {
        e.preventDefault();
        AddCharacter(@Model.GridSpace.Id)
    })
</script>